 // Import Global Rules
 @import './sass/layout/global-rules';


 @import './sass/pages/contact';

 @import './sass/variables/colors'  ;

 $alt_color : green;

 .header {
    color: $alt_color;
 }


 .footer {
    $alt_color : black !global;
    background-color: $alt_color ;
 }


 .copyright{
    background-color:  $alt_color;
 }

 .sidebar{
    background-color : $main;

 }

 $max_mobile : "max-width:767px";

 @media(max-width:767px)
 {
    .sidebar{
        padding: 20px;
    }
 }